<%@speeches.each do |speech| %>
<strong><%=speech.name%></strong>
<div class="border_wrapper">
<% if speech.text_of_uploaded_content.nil? %>
  <%= "No content available"%>
<%else%>
  <%= speech.text_of_uploaded_content%>
</div>
<div>
  <label> Here is the analysis:</label><br>
  <%= speech.political_stats%>

</div>
  <%end%>
<%end%>

<div class="container text-center">
<%= will_paginate @speeches, renderer: BootstrapPagination::Rails %>
</div>


